.wp-piwik-hidden {
	display:none;
}

table.wp-piwik-table th.right, td.right {
	text-align: right;
}

table.wp-piwik-table tr:hover {
	background-color:#ccc;
}

table.wp-piwik-table tbody.clickable {
	cursor: pointer;
}

#wp-piwik_stats_vistors_graph {
	overflow:hidden;
}